@import "../../styles/colors.scss";

.app-menu {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: $background;
  border-right: 1px solid #E5E5E5;
  padding: 12px 6px;

  .project-name {
    font-size: 1.0rem;
    font-weight: bold;
    margin: 0.5rem 0;
    input {
      font-size: 1rem;
    }
  }

  input.input-inlined {
    padding: 2px 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #AAA;
    width: 100%;
    &:hover, &:active, &:focus {
      outline: none;
      border-bottom: 1px solid #333;
    }
  }

  .files-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 0.9rem;
    user-select: none;
    margin: 0.5rem 0;
    .files-title {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      margin: 0.5rem 0;
    }
    .files-title-text {
      font-size: 1.1rem;
    }
    .files-new {
      font-size: 1.4rem;
      cursor: pointer;
    }
    .file {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.2rem 0rem;
      cursor: pointer;
      color: lighten($primary, 50%);
      background: $background;
      border-left: 4px solid transparent;
      .file-left {
        .file-type {
          font-size: 0.8rem;
          font-weight: bold;
          margin-right: 0.5rem;
          color: #ee9f00;
        }
        .filename {
          font-size: 0.8rem;
          max-width: 120px;
          width: unset;
          border: 0;
        }
      }
      &:hover {
        .file-action {
          display: block;
        }

      }
      .file-action {
        color: #FF0000;
        font-size: 0.8rem;
        padding-top: 0px;
        display: none;
      }
      &:hover {
        color: lighten($primary, 30%);
      }
      &.selected {
        color: $primary;
      }
    }
  }
}
