@import './colors.scss';
button {
  cursor: pointer;
  color: #FFF;
  background-color: $primary;
  border: 0;
  border-radius: 6px;
  font-size: 0.8rem;
  outline: hidden;
  height: 2rem;
  line-height: 2rem;
  margin: 0 0.5rem;
  position: relative;
  cursor: pointer;
  &.action-icon {
    width: 100px;
    svg {
      position: relative;
      top: 5px;
      left: -5px;
    }
  }
  svg {
    position: relative;
    top: 5px;
    left: 0px;
  }
}
