@import '../styles/colors.scss';

.top-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: $background;
  border-bottom: 1px solid #CCC;
  .title {
    padding: 0 1rem;
    width: 150px;
    h1 {
      height: 3rem;
      margin: 0;
      padding: 0;
      line-height: 3rem;
      font-size: 1.5rem;
    }
  }
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
